<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1046032938350-iddvkq1p60gfrslfpquc5qi8f49g7gdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046032938350-iddvkq1p60gfrslfpquc5qi8f49g7gdl</string>
	<key>API_KEY</key>
	<string>AIzaSyBOl_XvwT8BRS5n8f2bow80D03OugRJBwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1046032938350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hermorn.hermorn</string>
	<key>PROJECT_ID</key>
	<string>hermorn-96fa6</string>
	<key>STORAGE_BUCKET</key>
	<string>hermorn-96fa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046032938350:ios:035b53abf4fb2a4e</string>
	<key>DATABASE_URL</key>
	<string>https://hermorn-96fa6.firebaseio.com</string>
</dict>
</plist>